/*
 * RESET
 * http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----
 * Grid
 * ---- */
html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

.hide {
  display: none; }

/* --------
 * Clearfix
 * -------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  clear: both;
  *zoom: 1; }

/* ----
 * Body
 * ---- */
body {
  background-color: #ffdab8;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem; }

.index-body {
  margin: 44px 0;
  margin: 0 110px; }

.image-body {
  margin: 44px 0;
  margin: 0 110px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 15vw);
  grid-gap: 15px;
  margin-top: 40px;
}

.gallery-item-1{
  grid-column-start: 3;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-item-2{
  grid-column-start: 5;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-item-1{
  grid-column-start: 7;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ----------
 * Typography
 * ---------- */
h1, h2, h3, h4, h5, p, li, ul {
  font-family: monospace;
  margin-bottom: 22px;
  color: #802603; }

*::selection {
  background: rgba(29, 158, 94, 0.933);
  color: #ffdab8; }

a::selection {
  background: rgba(0, 165, 55, 0.486);
  color: #ffdab8; }

h2 {
  font-size: 1.5em;
  color: #bd400f;
  margin-bottom: 11px; }

h2 a {
  color: #e4861a;
  text-decoration: none;
}

ul p {
  margin-bottom: 11px;
}

li {
  font-size: 1.2em;
  color: #802603;
  margin-bottom: 11px;
  margin-left: 33px;
}

li a {
  text-decoration: none;
  color: #bd400f;
}

p a {
  color: #e4861a; }

p {
  font-size: 1.1em;
  line-height: 22px; }

/* ----
 * Navs
 * ---- */
.nav {
  border-radius: 5px;
  display: inline-block;
  margin: 0; }

.nav-header {
  padding: 10px 30px;
  margin-bottom: 22px; }

.nav-header a {
  padding: 0 44px;
  text-decoration: none;
  font-size: 22px;
  color: #e4861a; }

a.selected {
  color: #bd400f;
  font-weight: bold; }

.nav-header span {
  max-height: 15px;
  margin-top: 2px;
  display: inline-block; }

/* ----
 * Head
 * ---- */
/*.index-header{
	vertical-align: center;
 }*/
.header-body {
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
  font-family: monospace;
  border-bottom: 2px solid #bd400f; }

.title {
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 40px 0 0 0; }

.title a {
  color: #bd400f;
  text-decoration: none; }

/* ----
 * Foot
 * ---- */
footer {
  padding-top: 22px;
  background-color: #bd400f;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-bottom: 8px solid #e4861a; }

.credits {
  float: right;
  color: #ffdab8;
  line-height: 15px; }

.language {
  float: left;
  line-height: 15px; }

.language a {
  color: #ffdab8;
  text-decoration: none; }

.language a.selected {
  font-weight: normal;
  text-decoration: underline; }

.nav-footer {
  float: left; }

/* -------
 * Article
 * ------- */
article {
  margin-top: 22px;
  float: left;
  margin-bottom: 22px; }

.pinned {
  border-color: #e4861a;
  border-width: 0 0 4px 0;
  border-style: dotted;
  padding: 0 0 22px 0; }

article h1 {
  margin-top: 22px;
  font-size: 2.5em;
  color: #bd400f;
  margin-bottom: 22px; }

article small {
  font-family: monospace;
  color: #bd400f; }

article small a {
  font-size: 1.5em;
  color: #e4861a; }

article ul p {
  margin-bottom: 11px;
}

article p {
  margin-top: 11px;
  margin-bottom: 5px; }
